<form action="/books/<%= id %>?_method=PATCH" method="post">
    <label for="fname">title:</label>
    <input type="text" id="fname" name="title"><br><br>
    
    <input type="submit" name="_method" value="PATCH">
</form> 


